@font-face{
	font-family: 'mr_norwesterG';
	src: url('/static/fonts/mr_norwesterG.otf') format('opentype');
}

@font-face{
	font-family: 'Norwester';
	src: url('/static/fonts/norwester.otf') format('opentype');
}

body {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: mr_norwesterG, Arial, sans-serif;
}

.container-login {
	max-width: 350px;
	width: 100%;
	background: white;
	padding: 24px;
	border-radius: 5px;
	box-shadow: 0 0px 20px violet;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

h1 {
	margin: 0 0 10px 0;
	text-align: center;
}

.login-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.form-group {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-group label {
	margin-bottom: 5px;
}

.form-group input {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
}

.func-button {
	padding: 10px;
	background-color: violet;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	font-family: mr_NorwesterG;
}

.func-button:hover {
	background-color: darkviolet;
}

.register-link {
	text-align: center;
	font-size: 14px;
}