<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Управление пользователями</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/users-style.css') }}">
</head>
<body>
	<div class="container">
		<a href="{{ url_for('index') }}" class="button primary" style="display:inline-block; width:230px; text-align:center;">Вернуться на главную страницу</a>
		<h1 class="title" style="text-align: center;">Пользователи</h1>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<ul class="flash-messages">
					{% for category, message in messages %}
						<p class="{{ category }}">{{ message }}</p>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		<p class="text">Пароль хэшируется и не может быть просмотрен.</p>

		<table class="all-table">
			<tr>
				<form method="POST" action="{{ url_for('user.list_users') }}" class="all-form" autocomplete="off" style="display: table-row;">
					<td style="display:flex; justify-content:center; gap: 8px;">
						<input type="text" name="username" placeholder="Логин" required class="text-field">
						<input type="password" name="password" placeholder="Пароль" required class="text-field">
						<input type="hidden" name="action" value="add">
						<button type="submit" class="button primary" style="cursor:pointer; width: 210px; border:none;">Добавить пользователя</button>
					</td>
				</form>
			</tr>
		</table>

		<table class="all-table">
			{% for user in users %}
				<tr>
					<form method="POST" action="{{ url_for('user.list_users') }}" style="display: table-row;">
						<td style="display:flex; justify-content:center; gap: 8px;">
							<input type="text" value="{{ user.id }}" disabled class="text-field" style="width: 40px; text-align:center;">
							<input type="text" name="username" value="{{ user.username }}" class="text-field" style="width: 400px;" required>
							<!<input type="text" name="username" value="{{ user.password_hash }}" class="text-field" style="width: 400px;" required>
							<input type="hidden" name="user_id" value="{{ user.id }}">
							<button type="submit" name="action" value="update" class="button-redact">Изменить</button>
							<button type="submit" name="action" value="delete" class="button-delete" onclick="return confirm('Удалить пользователя?');">Удалить</button>
						</td>
					</form>
				</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>